{{!< layout}}
<div>
      <div class="row">
        <div class="justify-content-start col info" id="page-info">
          <h1><strong>About EmploymentAgency</strong></h1>
          <!-- <p>
            EmploymentAgency is a website that was made in order to simplify the challenging process of searching for a good job 
            opportunity. Our mission is to connect individuals with 
          </p>
    </div> -->