body {
  font-family: 'Poppins', sans-serif;
  background-color: #e7e9ee;
}

.home-bg-container {
  position: relative;
  text-align: center;
  color: white;
}

.home-bg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  overflow: hidden;
}

.home-bg img {
  width: 100%;
  height: 100%;
}

.home-bg-text {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

input {
  background-color: #ffffff;
  color: #828282;
  border-radius: 8px;
  padding: 12px 16px;
  text-align: left;
  width: 230px;
  height: 26px;
  border: none;
}

.simple-button {
  background-color: #1c2135;
  color: #ffffff;
}

.profile-bg-color {
  background-color: #5a6794;
}

select {
  background-color: #ffffff;
  color: #828282;
  border-radius: 8px;
  padding: 12px 16px;
  text-align: left;
  margin-right: 10px;
  width: 230px;
  height: 50px;
  border: none;
}

.footer p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  margin: 0;
  padding: 10px 0px;
}

.cards-button{
  background-color: #1c2135;
  color: #ffffff;
}


/* Job's card buttons */
.buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.button-container {
  margin-top: 0px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
}

.button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 3px; 
  align-self: flex-start;
  cursor: pointer;
}

/* .button:last-child {
  margin-right: 0;
} */

.button.delete {
  margin-top: 0;
  background: #FF5D5B;
  border: 4px solid #CF544D;
}

#editButton {
  background: #FFBB39;
  border: 4px solid #CFA64E;
}

.button.messages {
  background: #00CD4E;
  border: 4px solid #0EA642;
}

/* For the title on the buttons when you hover over them */
.addMore{
  border: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  /* transition: all ease-in-out 0.2s; */
  cursor: pointer;
}
/* .addMore:hover{
  border: 1px solid ;
  background-color: #ddd;
} */

/* Sign Up Swap */
a {
  cursor: pointer;
  transition: all 200ms linear;
}

a:hover {
  text-decoration: none;
}

.link {
  color: #c4c3ca;
}

.link:hover {
  color: #ffeba7;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}

h4 {
  font-weight: 600;
}

h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.section{
  position: relative;
  width: 100%;
  display: block;
}

.full-height{
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}


.card-3d-wrap {
  position: relative;
  width: 700px;
  max-width: 100%;
  height: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  /* background-color: #2a2b38; */
  background-color:#ffffff;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.custom-select {
        width: 100%;
        height: auto; 
    }

/* Modal's background */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 10px;
  top: 10px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 15px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 6px 30px 0 rgba(0,0,0,0.19);}

.modal-body {
  padding: 5px 10px;
}

.close, .close_edit_profile, .close_new_job, .close_hyperlink, .close_edit_job, .close_applicants{
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Title's hyperlink colors */
.jobTitleLink {
  color: black; /* Replace with your desired color */
}

/* Change the color when the link is hovered over */
.jobTitleLink:hover {
  color: #0056b3; 
}

/* Change the color when the link is visited */
.jobTitleLink:visited {
  color: #6c757d;
}

/* Change the color when the link is active (being clicked) */
.jobTitleLink:active {
  color: #004085;
}






