<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <title>About</title>
</head>

<body>

  <main>
    <%- include('../partials/header'); %>
    <div>
      <h1>About us</h1>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>