<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <title>Personal Info</title>
</head>

<body>
  <main>
    <%- include('../partials/header'); %>

    <section class="vh-50" style="background-color: #e7e9ee;"> <!--https://mdbootstrap.com/docs/standard/extended/profiles/-->
      <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-50">
          <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem;">
              <div class="row g-0">
                <div class="col-md-4 profile-bg-color text-center text-white"
                  style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                  <h5>{firstname} {lastname}</h5>
                  <p>{occupation}/{specialty}</p>
                  <i class="far fa-edit mb-5"></i>
                </div>
                <div class="col-md-8">
                  <div class="card-body p-4">
                    <h6>Information</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                      <div class="col-6 mb-3">
                        <h6>Email</h6>
                        <p class="text-muted">{email}</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Phone 1</h6>
                        <p class="text-muted">{phone1}</p>
                      </div>
                    </div>
                    <div class="row pt-1">
                      <div class="col-6 mb-3">
                        <h6>Address/Region</h6>
                        <p class="text-muted">{address}/{region}</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Phone 2</h6>
                        <p class="text-muted">{phone2}</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                      <button type="submit" class="btn cards-button me-2"  value="upload_image">Upload Image</button>
                      <button type="submit" class="btn cards-button me-2" value="upload_cv">Upload CV</button>
                      <button type="submit" class="btn cards-button"  value="edit">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <h2 style="text-align: center;">My applications</h2>

    <div class="cards">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="static/job_default_logo.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <button class="btn cards-button position-absolute bottom-0 end-0 mb-2"style="margin-right: 10px;">Delete</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="static/job_default_logo.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <button class="btn cards-button position-absolute bottom-0 end-0 mb-2" style="margin-right: 10px;">Delete</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="static/job_default_logo.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <button class="btn cards-button position-absolute bottom-0 end-0 mb-2" style="margin-right: 10px;">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>